---
import Layout from '../layouts/baseLayout.astro';
import GameContainer from '../components/GameContainer.tsx';
import GameApp from '../components/GameApp';


---

<Layout title="Joc de definicions">
  <div>
    <aside style="flex: 1;">
      <!-- Anunci esquerra -->
      <div class="ad ad-left">[ANUNCI ESQUERRA]</div>
    </aside>

    <section style="flex: 2;">
      <h2>Joc de definicions</h2>
      <GameApp client:only="preact" />
    </section>

    <aside style="flex: 1;">
      <!-- Anunci dret -->
      <div class="ad ad-right">[ANUNCI DRET]</div>
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-XXXXXXX"
            data-ad-slot="YYYYYYY"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>

        <script is:inline>
        window.adsbygoogle = window.adsbygoogle || [];
        window.adsbygoogle.push({});
        </script>

    </aside>
  </div>
</Layout>
